/*navbar*/
.hero{
    flex-wrap: wrap;
    justify-content: center;
}

/* about */
#about{
    flex-direction: column;
    align-items: center;
}

#about .main img{
    width: 475px;
    height:300px;
    
}
.about-text h5{
    text-align: center;
    padding: 10px;

}